<a href="https://colab.research.google.com/github/AbhishekPati332/Data-Engineering/blob/main/Module4_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1 What are data structures, and why are they important?
Data Structure is the way of organsing and storing data so that it can be accessed and manipulated effectienly.
Ex:- list,string,dict,Tuple
Important because:-
1.They help in storing data effeciently
2.Make it easier to search,sort,insert and delete data.
3.They improve the speed and performance of the program
4.Help solve real world problems like managing user data,files,apps,etc.

In [ ]:
#Q2  Explain the difference between mutable and immutable data types with examples.

In [ ]:
Mutable data type such as List,dict,Set in which the value can be modify after being created.
While Immutable data type like Tuple in this we can't modify the value after being created.

In [ ]:
#Q3 What are the main differences between lists and tuples in Python.

In [ ]:
List is Mutable while Tuples are immutable.
List syntax is [] while Tuple ().
List are slower compare to tuple for iteration because it is mutable.
Tuples use less Memory then List.Tuple is Memory effecient.
Hashability:- Tuple can be used as Dict key but list can not.
List have more build in methods than tuple.

In [ ]:
#Q4  Describe how dictionaries store data?

In [ ]:
Dict store data in form of keys and values.
Ex:- dict = {
    "name" : "abhishek"
    "age" : 21
}
Where we can fetch both keys and values as per requirement. Here name is the key
and abhishek is value.

Internally, Python uses a hash table. when we create a key, python turn into a number(called a hash)
Then this number decides where the value is stored in memory.

In [ ]:
#Q5 Why might you use a set instead of a list in Python?

In [ ]:
Set Removes the Duplicacies.
Searching in set is faster than in a list.
Set supports operation like union, intersection, difference.

In [ ]:
#Q6 What is a string in Python, and how is it different from a list?

In [ ]:
A string in Python is a sequence of characters, like letters, numbers or symbols.
enclosed in quotes either single or double.

Difference:-
1.String is Immutable while list is mutable.
2.String stores elements of characters while list store all data type.

In [ ]:
#Q7 How do tuples ensure data integrity in Python?

In [ ]:
Tuples Are Immutable Once a tuple is created, we cannot change its values.
This prevents accidental changes, which helps protect the data.

In [ ]:
#Q8  What is a hash table, and how does it relate to dictionaries in Python?

In [ ]:
A hash table in data structure that stores data in key value pairs, using a hash
function to determine where to store each value.
A key like 'name' is passed through a hash function then hash function converts it into an index like box number.
Then The value is stored a that index.

Python's dict is implemented using a hash table internally like when we write my_dict["name"], python uses a hash
function to quickly find the value.

In [ ]:
#Q9 Can lists contain different data types in Python3

In [ ]:
#Yes, List can contain any data type.
list = [1, 1.23, 'abhi' , 3+4j]
print(list)

[1, 1.23, 'abhi', (3+4j)]

In [ ]:
#Q10 Explain why strings are immutable in Python

In [ ]:
1. Strings are mutable which makes Data secure and Data Integrity.
2. Faster and Memory Efficient as they are mutable.So, good in performance
3. Safe to use in hashing because only immutable objects can be used as key in dict.
4. Because strings are immutable, Python can reuse them in memory, which saves space and makes the program run faster.

In [ ]:
#Q11 What advantages do dictionaries offer over lists for certain tasks.

In [ ]:
Dict gives fast access to data using keys , list needs to search through index which is slower.
In Dict data is easier to understand as it is in form of key-value pair.
In Dict No need to rember the indexes.
Dict Avoids Duplicate Keys , data is unique and organised.

In [ ]:
#Q12 Describe a scenario where using a tuple would be preferable over a listP

In [ ]:
Scenario when the data should not be changed and modify like coordinates, configuration or for example days of the week then
there i will prefer tuple over list to ensure data integrity and better performance as
tuples are faster then list.
Ex:- days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
this can't be change so here i will use tuple instead of list.

In [ ]:
#Q13 How do sets handle duplicate values in Python?

In [ ]:
sets automatically eliminate duplicate values and only store unique items. This makes them useful
for tasks like removing duplicates from a list or checking for membership quickly.

In [ ]:
#Q14 How does the “in” keyword work differently for lists and dictionaries3

In [ ]:
In list 'in' checks if a value exists in the list and returns boolean value.
Ex:-
person = {'name': 'Abhi', 'age': 21}
print('name' in person)     #True
print('Abhi' in person)     # False

And in dict it checks if a key exists(not the value)
Ex:-
person = {'name': 'Abhi', 'age': 21}
print('Abhi' in person.values())    #True
print('name' in person)   #True

In [ ]:
#Q15 Can you modify the elements of a tuple? Explain why or why not?

In [ ]:
Tuple are immutable so we cannot modify the elements.
Because This insures data integrity, makes themm safe to use as dictionary keys,
and improves performance compared to other data structure.

In [ ]:
#Q16 What is a nested dictionary, and give an example of its use case?

In [ ]:
A nested dictionary is a dict inside another dict.It allows storing structured or hierarchial data.
Ex:-
students = {
    "101": {"name": "Abhi", "age": 20},
    "102": {"name": "Riya", "age": 21}
}
Outer keys: student IDs ("101","102")
Inner dictionaries: details of each student

employees = {
    "emp1": {"name": "John", "dept": "HR"},
    "emp2": {"name": "Sara", "dept": "Tech"}
}
A nested dictionary is used to store structured data where each key maps to another dictionary.
For example, it's useful for storing information like students' details or employees records in a clean and organized way."

In [ ]:
#Q17 Describe the time complexity of accessing elements in a dictionary.

In [ ]:
Accessing elements in a dictionary is O(1) on average because it uses a hash table internally.
Even in worst-case hash collisions, Python manages it well, so access remains very efficient.

In [ ]:
#Q18 In what situations are lists preferred over dictionaries?

In [ ]:
1.When order matters list maintain insertion order.
Ex :- to-do list, history logs, sequences
2.When we don't need key value pairs
3.When we want indexed access
4.When the data is homogenous like all stings all integers etc.
5.When we need to perform ordered operations
Sorting, slicing, looping in order etc.

In [ ]:
#Q19 Why are dictionaries considered unordered, and how does that affect data retrieval

In [ ]:
Dictionaries are considered unordered because traditionally they didn’t guarantee key order.
Even though Python 3.7+ preserves insertion order, dictionaries are still accessed using keys, not positions.
so we can't rely on their order like we do with lists.

In [ ]:
#Q20 Explain the difference between a list and a dictionary in terms of data retrieval.

In [ ]:
A list retrieves data using an index, like list[2], which is useful when order matters.
A dictionary retrieves data using a key, like dict['name'], making it ideal
for structured data where each value has a unique label.

#Section 2

PRACTICAL QUESTIONS

In [ ]:
#QUE 1 :-
name = "Abhishek Patidar"
print(name)

Abhishek Patidar

In [ ]:
#QUE 2:-
string = "Hello World"
len(string)

11

In [ ]:
#QUE 3:-
given = "Python Programming"
given[0:3]

'Pyt'

In [ ]:
#QUE 4:-
say = "hello"
say.upper()

'HELLO'

In [ ]:
#QUE 5:-
given = "I like apple"
given.replace("apple","orange")

'I like orange'

In [ ]:
#QUE 6:-Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#QUE 7:- Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#QUE 8 :- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#QUE 9 :- Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a' , 'b' , 'c' , 'd']
list[1]

'b'

In [ ]:
#QUE 10:- Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
list = [10,20,30,40,50]
list[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#QUE 11 :- Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100 , 200 , 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
 #QUE 12:- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red' , 'green' , 'blue' , 'yellow')
my_tuple[-2]

'blue'

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
max(my_tuple)

20

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
my_tuple = ('dog', 'cat' , 'rabbit')
my_tuple(cat)

NameError: name 'cat' is not defined

In [ ]:
#QUE 15. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog' , 'cat' , 'rabbit')
index = animals.index('cat')
print(index)

1

In [ ]:
#QUE16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set = {"a","b","c"}
set

{'a', 'b', 'c'}

In [ ]:
#QUE17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set = {1,2,3,4,5}
set.clear()
set

set()

In [ ]:
#QUE18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set = {1,2,3,4}
set.remove(4)
set

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
u1 = {1, 2, 3}
u2 = {3, 4, 5}
print(u1 | u2)

{1, 2, 3, 4, 5}

In [ ]:
u1 = {1, 2, 3}
u2 = {3, 4, 5}
union_set = u1.union(u2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
u1 = {1, 2, 3}
u2 = {3, 4, 5}
print(u1&u2)

{3}

In [ ]:
u1 = {1, 2, 3}
u2 = {3, 4, 5}
intersection_set = u1.intersection(u2)
print(intersection_set)

{3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict = {
    "name" : "Abhishek",
    "age" : 21,
    "city" : "Neemuch",
}
print(dict)

{'name': 'Abhishek', 'age': 21, 'city': 'Neemuch'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
dict = {
    'name':'John',
    'age':25,
}

dict['country'] = 'USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [ ]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
Details = {
    'name':'Bob','age':22,'city':'New York'
}
Details.pop('age')
print(Details)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {
    'name':'Alice', 'city':'Paris'}
if 'city' in person:
  print("key 'city' exists.")
else:
  print("key 'city' not exists")

key 'city' exists.

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list = [1,2,3,4]
my_tuple = (1,2,3,4)
dict = { 'Hello':'Yeah'}
print(list)
print(my_tuple)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'Hello': 'Yeah'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)

In [ ]:
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()

print(numbers)

[8, 28, 89, 96, 98]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
list = ["anc", "abhdl", "pop", "yoyo"]
list[3]

'yoyo'

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
#first case where keys are not same
dict1 = {'name1': 'John', 'age1': 25}
dict2 = {'name2': 'Heera', 'age2': 15}

combined = dict1 | dict2
print(combined)

{'name1': 'John', 'age1': 25, 'name2': 'Heera', 'age2': 15}

In [ ]:
#second case in which keys are same so dict2 will overwrite
dict1 = {'name': 'John', 'age': 25}
dict2 = {'name': 'Heera', 'age': 15}

combined = dict1 | dict2
print(combined)

{'name': 'Heera', 'age': 15}

In [ ]:
#30. Write a code to convert a list of strings into a set.

In [ ]:
fruits = ["apple", "banana", "cherry", "apple"]
fruit_set = set(fruits)

print(fruit_set)

{'apple', 'cherry', 'banana'}